*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: relative;
    display: block;
    padding: 25px;
}

.icon{
    max-width: 48px;
}

.nav-con{
    display: none;
}

nav{
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration-line: inherit;
    text-decoration-style: inherit;
    text-decoration-color: inherit;
}

button{
    padding: 10px 20px;
    border-radius: 0.5em;
    border-width: 0px;
    background-color: red;
    color: white;
    font-size: large;
    box-shadow: 1px 3px 5px 0.5px #CFD2CF;
    margin: 1rem 1.5rem;  
 }

.add-button{
    background-color: #1aff00;
    padding: 10px 20px;
    border-radius: 0.5em;
    box-shadow: 1px 3px 5px 0.5px #CFD2CF;
    color: white;
    font-weight: bolder;
}


table{
    margin: 25px;
    max-width: 80%;
}

h1, h2{
    margin-left: 1rem;
}

section a{
    margin: 25px;
}

td img{
    max-width: 50px;
}